body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: gray;
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("img/work.jpeg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  text-align: center;
  color: white;
}
p{
  text-align: center;
  color: white;
}

form {
  border-color: white;
  border:10px;

  border-radius: 25%;
  color: white;
  font-size: 20px;
}

footer {
  background-color:  #333;
  color: white;
  position:absolute;
  width:100%;
  height:300px;  

}

.topnav {
  overflow: hidden;
  background-color: #333;
}
a{
  font-size: 20px;
}

.background_img{
  position: absolute;
  width: 100%;
  background-position: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("donuts.png");
  z-index: -1;

}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav-right {
  float: right;
}

#Weblogo{
  float: left;
  top: 50%;
  color: white;
  font-size: 22px;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

#Weblogo a{
  text-align: center;
  align-self: center;
  font-size: 24px;
}


.split {
  width: 100%;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 200px;
  height: 300px; 
}

.left {
  float: left;
  left: 0;
  width: 50%;
  z-index: -1;
}

.right {
  right: 0;
  width: 50%;
  z-index: -1;
}

.centered {
  position: absolute;
  top: 25%;
  left: 25%;
  text-align: center;
}

.centered form {
  border-color: white;
  border:10px;
  width: 500px;
  border-radius: 25%;
  color: white;
  font-size: 50px;
}

#browse{
  left:0;
  position: relative;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 50px;
  margin-bottom: 100px;
  width:70%;
  align-self: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
  background-position: center;
  background-repeat: no-repeat;
  background-size: fill;
  color: white;

}
#browse img{
  align-self: center;
  width: 80%;
}

#contactUs{
  left:0;
  position: relative;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 50px;
  margin-bottom: 100px;
  width:70%;
  align-self: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
  background-image: linear-gradient(rgba(256,256,256,0.4),rgba(256,256,256,0.4)),url("img/mobile.jpeg");
  color: black;

}

#contactUs img{
  align-self: center;
  width: 80%;
}
#contactUs h1{
  color: black;
  text-align: left;
  margin-left: 5%;
}

#login{
  border:1px solid #ccc;
  border-radius: 10px;
}

footer .grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: transparent;
}

.blogElement{
  margin: 10px;
  width: 250px;
  height: 400px;
  padding: 5px;
  background-color: transparent;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}
.blogElement img{
  margin: 5px;
  width: 100;
  
}
.blogElement h1{
  color: white;
  text-align: center;
  font-size: 15px;
}
.blogElement p{
  color: white;
  text-align: left;
}
.blogElement a{
  text-decoration: none;
  width: 100%;
  align-self: right;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: transparent;
  padding: 10px;
}
.grid-item {
  background-color: transparent;
  border: 1px solid gray;
  padding: 20px;
  font-size: 15px;
  text-align: center;
}
.grid-container #head{
  background-color: black;
  border: 1px solid gray;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

footer .grid-item {
  padding: 10px;
  background-color: transparent;
  border:0;
  font-size: 12px;
}
footer a{
  float: left;
  color: #f2f2f2;
  text-align: left;
  text-decoration: none;
  font-size: 15px;
}

input[type=text], select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=email], select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.container{
  width: 70%;
  padding-right: 15%;
  padding-left:15%;


}




/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  padding-left: 10px;
  bottom: 23px;
  right: 28px;
  width: 50px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-image: linear-gradient(rgba(256,256,256,0.4),rgba(256,256,256,0.4)),url("img/laptop.jpeg");
  text-align: center;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 80%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  border: 0;
  border-radius: 10px;
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
